<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nome.valid }">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" name="Nome" [(ngModel)]="model.Nome" #Nome="ngModel" required />
            <div *ngIf="f.submitted && !Nome.valid" class="help-block">Nome richiesto</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cognome.valid }">
            <label for="Cognome">Cognome</label>
            <input type="text" class="form-control" name="Cognome" [(ngModel)]="model.Cognome" #Cognome="ngModel" required />
            <div *ngIf="f.submitted && !Cognome.valid" class="help-block">Cognome richiesto</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Username.valid }">
            <label for="Username">Username</label>
            <input type="text" class="form-control" name="Username" [(ngModel)]="model.Username" #Username="ngModel" required />
            <div *ngIf="f.submitted && !Username.valid" class="help-block">Username richiesto</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Password.valid }">
            <label for="Password">Password</label>
            <input type="Password" class="form-control" name="Password" [(ngModel)]="model.Password" #Password="ngModel" required />
            <div *ngIf="f.submitted && !Password.valid" class="help-block">Password richiesta</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Progetto.valid }">
            <label for="Progetto">Progetto</label>
            <input type="Progetto" class="form-control" name="Progetto" [(ngModel)]="model.Progetto" #Progetto="ngModel" required />
            <div *ngIf="f.submitted && !Progetto.valid" class="help-block">Progetto richiesto</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Gruppi_associati.valid }">
            <label for="Gruppi_associati">Gruppi</label>
            <input type="Gruppi_associati" class="form-control" name="Gruppi_associati" [(ngModel)]="model.Gruppi_associati" #Gruppi_associati="ngModel" required />
            <div *ngIf="f.submitted && !Gruppi_associati.valid" class="help-block">Almeno un gruppo richiesto</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
